{% extends 'base.html.twig' %}

{% block body %}

	{#interpelation#}
	{# <h1>{{ title }}</h1> #}
	{#on affiche le contenu de la variable 'title' avec le moteur TWIG#}
	{# double accolades, ce que l'on appelle l'interpelation#}
	{#  {% %} -> commande (exemple: condition if) #}
	{# {% if age > 18 %}
	   <p>tu est majeur!</p>
	   
	{% else %}
	   <p>tu est mineur !</p>
	{% endif %} #}

	{# <section class="d-flex justify-content-between flex-wrap">
	<div class="card" style="width: 18rem;">
	  <img src="..." class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Titre de l'article</h5>
	    <small>Ecrit le 08/07/2024 à 12:00 dans la catégorie jeux vidéo</small>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
	  </div>
	</div>
	
	<div class="card" style="width: 18rem;">
	  <img src="..." class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Titre de l'article</h5>
	    <small>Ecrit le 08/07/2024 à 12:00 dans la catégorie jeux vidéo</small>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Lire la suite</a>
	  </div>
	</div>
	
	<div class="card" style="width: 18rem;">
	  <img src="..." class="card-img-top" alt="...">
	  <div class="card-body">
	    <h5 class="card-title">Titre de l'article</h5>
	    <small>Ecrit le 08/07/2024 à 12:00 dans la catégorie jeux vidéo</small>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	    <a href="#" class="btn btn-primary">Lire la suite</a>
	  </div>
	</div>
	</section> #}


	{#{{ dump(articles) }}#}
		<div class="container d-flex justify-content-between flex-wrap"> {% for article in articles %}

			<div class="card mb-3" style="width: 18rem;">
				<img src="{{article.image}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{article.title}}</h5>
					<small>Ecrit le
						{{article.createdAt | date('d/m/y')}}
						dans la catégorie jeux vidéo</small>
					<p class="card-text">{{article.content | raw }}</p>
					<a href="{{path('blog_show', {'id': article.id})}}" class="btn btn-primary">Lire la suite</a>
				</div>
			</div>

		{% endfor %}

	</div>


{% endblock  body %}
